NODE_ENV=development
PUBLIC_APP_ORIGIN=http://localhost:8080
PUBLIC_STORAGE_ORIGIN=http://localhost:8787/storage

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8787/auth/google/callback

KIE_API_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PLUS_PRICE_ID=
STRIPE_PRO_PRICE_ID=
