NODE_ENV=production
PUBLIC_APP_ORIGIN=http://localhost:8080
PUBLIC_STORAGE_ORIGIN=https://cdn.idolbooth.com

D1_DATABASE_NAME=batchloom-db
D1_DATABASE_ID=5f0346ed-b51b-44f9-9133-b0ab0cd4be62
CLOUDFLARE_ACCOUNT_ID=e2bf13917f6dff565f6357f7237ce9fa
CLOUDFLARE_API_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://api.idolbooth.com/auth/google/callback

KIE_API_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PLUS_PRICE_ID=
STRIPE_PRO_PRICE_ID=
